{% extends 'base.html' %} {% block content %}

<h1>Pet Details</h1>

<ul>
  <li>
    <p>Name: {{ pet.name }}</p>
    <img class="img-thumbnail" src="{{ pet.photo_url }}" />
    <p>Age: {{pet.age}}</p>
    <p>Species: {{pet.species}}</p>
  </li>
</ul>

<h1>Edit Pet Form</h1>
<form method="POST">
  {{ form.hidden_tag() }}
  <!--add type=hidden form fields -->

  {% for field in form if field.widget.input_type != 'hidden' %}
  <p>{{ field.label }} {{ field }}
    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </p>
  {% endfor %}
  <button>Submit</button>
</form>
{% endblock %}

